<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
    <div class="container">
    <h1>Rahul Shingala</h1>
    <h2>About ME <%= 11+ 99 %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum laborum esse autem, doloribus praesentium repellat doloremque labore rerum aliquam eius possimus ad, ipsum beatae sint voluptas quae minima cum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nobis laborum consequuntur dolor explicabo temporibus dolorem amet ea quasi? Quaerat libero delectus possimus qui quo praesentium animi amet optio earum.</p>
</div> 
</body>
</html>