<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
    <div class="container">
    <h1>Rahul Shingala</h1>
    <h2>About Me <%= num %> </h2>
    
    <h2><%= num%2===0 ? "Even" : "Odd" %></h2>
    </div>
</body>
</html>